.LCH {

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display: block;
    border-radius: 20px;
    padding: 1%;
    width: fit-content;
    height: fit-content;
    margin-bottom: 2%;
    background-color: white;
}


p,
h2,
.LCCCn {
    font-weight: bold;


}

.backgrounds {
    background-color: #e8f1f2;
    font-family: 'Courier New', Courier, monospace;

}

.LCCCs {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;

    position: left;
    background-color: white;

    padding: 2%;

    border-radius: 8px;
    margin-bottom: 2rem;

}


.LCCCn {
    text-align: left;
    display: flex;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: space-between;
    color: rgb(67, 136, 200);
}



.LCCCt {
    padding: 2%;
}

.LCCCnd {

    text-align: right;
    color: rgb(150, 159, 159);
    font-size: small;

}


.LCCCC {
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin: 0 5%;

}

.LCCCr {
    display: flex;
    gap: 1%;
    margin-top: 1%;

}