.LCH {

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display: block;
    border-radius: 20px;
    padding: 1%;
    width: fit-content;
    height: fit-content;
    margin-bottom: 2%;
    background-color: white;
}

button,
p,
h2,
.LCCCn {
    font-weight: bold;


}

.backgrounds {
    background-color: #e8f1f2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.LCCCs {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    position: left;
    background-color: white;
    padding: 2%;
    border-radius: 8px;
    margin-bottom: 2rem;


}


.LCCCn,
.LCCCnp {
    text-align: left;
    display: flex;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: space-between;
    color: rgb(67, 136, 200);
}



.LCCCt {
    padding: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.LCCCnd {

    text-align: right;
    color: rgb(150, 159, 159);
    font-size: small;

}


.LCCCC {
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin: 0 5%;

}

.LCCCr {
    display: flex;
    align-items: center;

}

.LCCCr button {
    background-color: rgb(240, 248, 255);
    border: inherit;
    border-radius: 0 20%;



}

.LCCCrc {
    font-weight: bold;
    margin: 0 1%;
}


#LCCCpt button {
    padding: 16px;
    border-radius: 18px;
    display: block;
    border: 1px solid #ddd;
    background-color: rgb(77, 159, 236);
    color: white;
}

#LCCCpt {
    font-size: medium;
    align-items: center;

}

#LCCCpt textarea {
    width: 95%;
    padding: 1%;
    margin: 1% 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
}

.LCCCnp {
    color: rgb(65, 201, 90);

}



.removePost {
    font-weight: bold;
    color: red;
    background-color: aliceblue;
    border: 0;
}

.btttn {
    padding: 16px;
    border-radius: 18px;

    border: 1px solid #ddd;
    background-color: rgb(77, 159, 236);
    color: white;
    text-align: center;
}




.LCCCE {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2%;
    margin: auto;
    max-width: 1200px;
}


.LCCCEc {
    text-align: center;
    background: white;
    border-radius: 8px;
    border: 2px solid rgb(77, 159, 236);
    padding: 1.5%;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flexbox;
}

.LCCCEc h3 {
    color: rgb(37, 133, 223);
    font-weight: 800;
    font-size: 32px;
    display: block;
}


.LCCCEt {
    line-height: 1.5;
    padding: 2%;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.backgrounds button:hover {
    transform: scale(1.01);
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}